<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="expedienteEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=root;database=expediente;persistsecurityinfo=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="FirstAppCS.Properties.Settings.expedienteConnectionString"
      connectionString="server=localhost;user id=root;password=root;database=expediente;persistsecurityinfo=True"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>